<div class="cover">

  <div class="text__information-cover">
    <h1>Haz historia. No se limite a informar sobre ello.</h1>

    <p>Vaya más allá de informar sobre datos históricos. Utilice la inteligencia procesable de cada
      evento digital para impactar positivamente en los resultados comerciales. Continuamente. En
      tiempo real. A escala.</p>

    <div class="buttons__cover">
      <input type="button" class="btn__register-cover" value="Registrarse">
      <input type="button" class="btn__readMore-cover" value="Leer más">
    </div>

  </div>

  <div class="media__cover">
    <img src="https://static.wixstatic.com/media/669128_ec1c7a78e9694aec8a07c2e48b292ae1~mv2.gif" />
  </div>

</div>
